body {
  background: url("./assets/bzs_abouttext_img.png") no-repeat 100% 100%;
}
button {
  padding: 10px 20px;
  background: #f9b;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #fff;
  opacity: .8;
}
button:hover {
  opacity: 1;
}